<h1>히어로 상세 등록</h1>
{{heroInfo.nickName}}님의 상세 정보를 등록해주세요!
<div class="formContainer">
  <form action="/resister-hero" method="post">
    <input type="hidden" name="provider_user_id" value= {{heroInfo.provider_user_id}}>
    <div class="form-group">
      <label for="skill" class="col-sm-2 control-label">Skill</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="skill" name="skill">
      </div>
    </div>
    <div class="form-group">
      <label for="locationLat" class="col-sm-2 control-label">활동지역(위도)</label>
      <div class="col-sm-4">
        <input type="number" step="any" class="form-control" id="locationLat" name="locationLat">
        <span>예) 37.508134</span>
      </div>
    </div>
    <div class="form-group">
      <label for="locationLon" class="col-sm-2 control-label">활동지역(경도)</label>
      <div class="col-sm-4">
        <input type="number" step="any" class="form-control" id="locationLon" name="locationLon">
        <span>예) 127.045097</span>
      </div>
    </div>
    <input type="submit" value="영웅 등록">
  </form>
</div>